{% extends 'reservation/Reserve.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Reservation{% endblock %}
 {% block stylesheets %}
     <style>
     #calendrier{
         width:100%;
         height:400px;
     }
     </style>
 {% endblock %}


{% block Calender  %}
    <div class="col-lg-7" id="calendrier">
    </div>
{% endblock %}
{% block formulaire %}

    <div class="contact-form">

            {{ include('reservation/_form.html.twig') }}


    </div>
{% endblock %}

{% block map %}
{% endblock%}

    {% block js %}
        <script>
            window.onload=()=>{
                let calendarElt = document.querySelector("#calendrier")
                let calendar= new FullCalendar.Calendar(calendarElt,{
                    initialView: 'dayGridMonth',
                    locale:'fr',
                    headerToolbar:{
                        start:'dayGridMonth,timeGridWeek',
                        center:'title',
                        end:'prev,next today'
                    }

                    {#events: /*{{ data | raw }}  #}
                })
                calendar.render()
            }

            function initMap() {
                const myLatLng = { lat: -25.363, lng: 131.044 };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: myLatLng,
                });

                new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: "Hello World!",
                });
            }
        </script>
    {% endblock %}
